// Navigation code here

body header {
    .containerize(800px, 100%);
    .headerTOP {
        text-align:center;
    }


    h1 {
        font-size:4rem;
        padding:1.5rem;
    }

    nav {
        padding:1rem;
        
        a {
        padding:3%;
        font-size:2rem;
        }
    }    

    a:link {
        text-decoration:none;
        color:@river-bend;
    }

    a:visited {
        text-decoration:none;
        color:@river-bend;
    }

    a:hover {
        text-decoration:underline;
        color:@river-bend;
    }

    a:active {
        text-decoration: underline;
        color:@river-bend;
    }
    
}